{
    "openapi" : "3.1.0",
    "info" : {
      "description" : "Welcome to the Cloud Foundry V3 API docs! Version 3 adds support for several key features:\n\n- Running one-off tasks on Cloud Foundry\n- Applications consisting of several processes via a Procfile\n- Direct access to application packages and droplets\n- Changing application source code without stopping the app via deployments",
      "license" : {
        "name" : "Apache 2.0"
      },
      "title" : "Cloud Foundry V3 API",
      "version" : "3.151.0"
    },
    "servers" : [ {
      "url" : "https://api.cf.eu12.hana.ondemand.com/"
    } ],
    "tags" : [ {
      "description" : "Endpoints specific to administrative users.",
      "name" : "Admin"
    }, {
      "description" : "Endpoints related to application management and configuration.",
      "name" : "Apps"
    }, {
      "description" : "Endpoints for managing app functionalities.",
      "name" : "App Features"
    }, {
      "description" : "Endpoints for tracking changes in application usage.",
      "name" : "App Usage Events"
    }, {
      "description" : "Endpoints for monitoring user and system actions on resources.",
      "name" : "Audit Events"
    }, {
      "description" : "Endpoints for managing the staging process of application packages.",
      "name" : "Builds"
    }, {
      "description" : "Endpoints related to buildpacks, which are used for transforming packages into executable applications.",
      "name" : "Buildpacks"
    }, {
      "description" : "Endpoints for managing application updates with zero downtime.",
      "name" : "Deployments"
    }, {
      "description" : "Endpoints for managing domain names used for application routes.",
      "name" : "Domains"
    }, {
      "description" : "Endpoints related to droplets, which are the results of staging an application package.",
      "name" : "Droplets"
    }, {
      "description" : "Endpoints for managing environment variables across all apps.",
      "name" : "Environment Variable Groups"
    }, {
      "description" : "Endpoints for enabling or disabling API functionalities.",
      "name" : "Feature Flags"
    }, {
      "description" : "Endpoints for retrieving Cloud Controller configuration information.",
      "name" : "Info"
    }, {
      "description" : "Endpoints for managing dedicated resource pools for apps.",
      "name" : "Isolation Segments"
    }, {
      "description" : "Endpoints related to asynchronous actions performed by the platform.",
      "name" : "Jobs"
    }, {
      "description" : "Endpoints for applying bulk configurations to apps and their processes.",
      "name" : "Manifests"
    }, {
      "description" : "Endpoints related to development accounts owned and used by collaborators.",
      "name" : "Organizations"
    }, {
      "description" : "Endpoints for managing named sets of resource usage quotas.",
      "name" : "Organization Quotas"
    }, {
      "description" : "Endpoints related to application source code.",
      "name" : "Packages"
    }, {
      "description" : "Endpoints for defining runnable units of an app.",
      "name" : "Processes"
    }, {
      "description" : "Endpoint for matching resource SHA-1/file size pairs against the Cloud Controller cache.",
      "name" : "Resource Matches"
    }, {
      "description" : "Endpoints related to specific versions of application code and configuration.",
      "name" : "Revisions"
    }, {
      "description" : "Endpoints for managing network traffic distribution based on various matching criteria.",
      "name" : "Routes"
    }, {
      "description" : "Endpoints for controlling access to resources in organizations and spaces.",
      "name" : "Roles"
    }, {
      "description" : "Endpoints for managing collections of egress traffic rules.",
      "name" : "Security Groups"
    }, {
      "description" : "Endpoints for managing the lifecycle of services.",
      "name" : "Service Brokers"
    }, {
      "description" : "Endpoints related to services offered by service brokers.",
      "name" : "Service Offerings"
    }, {
      "description" : "Endpoints related to service plans offered by a service offering.",
      "name" : "Service Plans"
    }, {
      "description" : "Endpoints for managing access to given service plans and their service offering.",
      "name" : "Service Plan Visibility"
    }, {
      "description" : "Endpoints for managing instantiations of a service.",
      "name" : "Service Instances"
    }, {
      "description" : "Endpoints for making service instance connection details available.",
      "name" : "Service Credential Bindings"
    }, {
      "description" : "Endpoints for managing relations between a service instance and a route.",
      "name" : "Service Route Bindings"
    }, {
      "description" : "Endpoints for tracking changes in service usage.",
      "name" : "Service Usage Events"
    }, {
      "description" : "Endpoints for managing additional operating system processes run in the same container as a process.",
      "name" : "Sidecars"
    }, {
      "description" : "Endpoints for managing spaces.",
      "name" : "Spaces"
    }, {
      "description" : "Endpoints for managing optional capabilities of a space.",
      "name" : "Space Features"
    }, {
      "description" : "Endpoints for managing named sets of quotas within an organization.",
      "name" : "Space Quotas"
    }, {
      "description" : "Endpoints for managing stacks that apps will execute in.",
      "name" : "Stacks"
    }, {
      "description" : "Endpoints for managing one-off jobs that are intended to perform a task, stop, and be cleaned up, freeing up resources.",
      "name" : "Tasks"
    }, {
      "description" : "Endpoints for managing users.",
      "name" : "Users"
    }, {
      "name" : "Experimental"
    } ],
    "paths" : {
      "/v3/admin/actions/clear_buildpack_cache" : {
        "post" : {
          "description" : "This endpoint will delete all of the existing buildpack caches in the blobstore. The buildpack cache is used during staging by buildpacks as a way to cache certain resources, e.g. downloaded Ruby gems. An admin who wants to decrease the size of their blobstore could use this endpoint to delete unnecessary blobs.\n\n__Permitted Roles:__:\n  * Admin",
          "responses" : {
            "202" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "tags" : [ "Admin" ]
        }
      },
      "/v3/apps" : {
        "get" : {
          "description" : "Retrieve all apps the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "200" : {
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/_v3_apps_get_200_response"
                  }
                }
              },
              "description" : "A list of apps"
            },
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List apps",
          "tags" : [ "Apps" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            },
            "422" : {
              "description" : "The given app name is already taken in the targeted space"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create an app",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}" : {
        "delete" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Delete an app",
          "tags" : [ "Apps" ]
        },
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an app",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update an app",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}/droplets/current" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get current droplet",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/relationships/current_droplet" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get current droplet association for an app",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "Set the current droplet for an app. The current droplet is the droplet that the app will use when running.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Set current droplet",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}/env" : {
        "get" : {
          "description" : "Retrieve the environment variables that will be provided to an app at runtime. It will include environment variables for Environment Variable Groups and Service Bindings.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter (`system_env_json` redacted)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.read" ]
          } ],
          "summary" : "Get environment for an app",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/environment_variables" : {
        "get" : {
          "description" : "Retrieve the environment variables that are associated with the given app. For the entire list of environment variables that will be available to the app at runtime, see the env endpoint.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.read" ]
          } ],
          "summary" : "Get environment variables for an app",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "Update the environment variables associated with the given app. The variables given in the request will be merged with the existing app environment variables. Any requested variables with a value of null will be removed from the app. Environment variable names may not start with `VCAP_.PORT` is not a valid environment variable.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update environment variables for an app",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}/permissions" : {
        "get" : {
          "description" : "Get the current user’s permissions for the given app. If a user can see an app, then they can see its basic data.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get permissions for an app",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/ssh_enabled" : {
        "get" : {
          "description" : "Returns if an application’s runtime environment will accept ssh connections. If ssh is disabled, the reason field will describe whether it is disabled globally, at the space level, or at the app level.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get SSH enabled for an app",
          "tags" : [ "Apps" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/actions/start" : {
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Start an app",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}/actions/stop" : {
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Stop an app",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}/actions/restart" : {
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "This endpoint will synchronously stop and start an application. Unlike the start and stop actions, this endpoint will error if the app is not successfully stopped in the runtime.\n\nFor restarting applications without downtime, see the deployments resource.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Restart an app",
          "tags" : [ "Apps" ]
        }
      },
      "/v3/apps/{guid}/features" : {
        "get" : {
          "description" : "This endpoint retrieves the list of features for the specified app.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "200" : {
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/_v3_apps_get_200_response"
                  }
                }
              },
              "description" : "A list of app features"
            },
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List app features",
          "tags" : [ "App Features" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/features/{name}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an app feature",
          "tags" : [ "App Features" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        }, {
          "description" : "A supported app feature",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/AppFeatureName"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update an app feature",
          "tags" : [ "App Features" ]
        }
      },
      "/v3/app_usage_events" : {
        "get" : {
          "description" : "Retrieve all app usage events the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List app usage events",
          "tags" : [ "App Usage Events" ]
        }
      },
      "/v3/app_usage_events/{guid}" : {
        "get" : {
          "description" : "Retrieve an app usage event.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin\"", "cloud_controller.admin_read_only", "cloud_controller.global_auditor" ]
          } ],
          "summary" : "Get an app usage event",
          "tags" : [ "App Usage Events" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the event",
          "example" : "a595fe2f-01ff-4965-a50c-290258ab8582",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/app_usage_events/actions/destructively_purge_all_and_reseed" : {
        "post" : {
          "description" : "Destroys all existing events. Populates new usage events, one for each started app. All populated events will have a created_at value of current time. There is the potential race condition if apps are currently being started, stopped, or scaled. The seeded usage events will have the same guid as the app.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Purge and seed app usage events",
          "tags" : [ "App Usage Events" ]
        }
      },
      "/v3/audit_events" : {
        "get" : {
          "description" : "Retrieve all audit events the user has access to.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List audit events",
          "tags" : [ "Audit Events" ]
        }
      },
      "/v3/audit_events/{guid}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Auditor (cannot see events which occurred in orgs that the user does not belong to)\n* Space Auditor (cannot see events which occurred in orgs that the user does not belong to)\n* Space Developer (cannot see events which occurred in orgs that the user does not belong to)\n* Space Supporter (cannot see events which occurred in orgs that the user does not belong to)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an audit event",
          "tags" : [ "Audit Events" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "a595fe2f-01ff-4965-a50c-290258ab8582",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/builds" : {
        "get" : {
          "description" : "Retrieve all builds the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List builds",
          "tags" : [ "Builds" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create a build",
          "tags" : [ "Builds" ]
        }
      },
      "/v3/builds/{guid}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a build",
          "tags" : [ "Builds" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the build",
          "example" : "585bc3c1-3743-497d-88b0-403ad6b56d16",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update a build",
          "tags" : [ "Builds" ]
        }
      },
      "/v3/apps/{guid}/builds" : {
        "get" : {
          "description" : "Retrieve all builds for the app.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List builds for an app",
          "tags" : [ "Apps", "Builds" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/buildpacks" : {
        "get" : {
          "description" : "Retrieve all buildpacks the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List buildpacks",
          "tags" : [ "Buildpacks" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Create a buildpack",
          "tags" : [ "Buildpacks" ]
        }
      },
      "/v3/buildpacks/{guid}" : {
        "delete" : {
          "description" : "__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Delete a buildpack",
          "tags" : [ "Buildpacks" ]
        },
        "get" : {
          "description" : "__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a buildpack",
          "tags" : [ "Buildpacks" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the buildpack",
          "example" : "fd35633f-5c5c-4e4e-a5a9-0722c970a9d2",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Update a buildpack",
          "tags" : [ "Buildpacks" ]
        }
      },
      "/v3/buildpacks/{guid}/upload" : {
        "parameters" : [ {
          "description" : "Unique identifier for the buildpack",
          "example" : "fd35633f-5c5c-4e4e-a5a9-0722c970a9d2",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "Upload a zip file containing a Cloud Foundry compatible buildpack. The file must be sent as part of a multi-part form.\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Upload buildpack bits",
          "tags" : [ "Buildpacks" ]
        }
      },
      "/v3/deployments" : {
        "get" : {
          "description" : "Retrieve all deployments the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List deployments",
          "tags" : [ "Deployments" ]
        },
        "post" : {
          "description" : "When you create a new deployment you can either provide a specific droplet or revision to deploy. If no revision or droplet is provided, the droplet associated with the app is deployed.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create a deployment",
          "tags" : [ "Deployments" ]
        }
      },
      "/v3/deployments/{guid}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a deployment",
          "tags" : [ "Deployments" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the deployment",
          "example" : "59c3d133-2b83-46f3-960e-7765a129aea4",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update a deployment",
          "tags" : [ "Deployments" ]
        }
      },
      "/v3/deployments/{guid}/actions/cancel" : {
        "parameters" : [ {
          "description" : "Unique identifier for the deployment",
          "example" : "59c3d133-2b83-46f3-960e-7765a129aea4",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Cancel a deployment",
          "tags" : [ "Deployments" ]
        }
      },
      "/v3/domains" : {
        "get" : {
          "description" : "Retrieve all domains the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List domains",
          "tags" : [ "Domains" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Org Manager (when an organization relationship is provided)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create a domain",
          "tags" : [ "Domains" ]
        }
      },
      "/v3/domains/{guid}" : {
        "delete" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Org Manager",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Delete a domain",
          "tags" : [ "Domains" ]
        },
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Auditor\n* Org Billing Manager (can only view domains without an organization relationship)\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a domain",
          "tags" : [ "Domains" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the domain",
          "example" : "3a5d3d89-3f89-4f05-8188-8a2b298c79d5",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Org Manager (if domain is scoped to organization managed by the org manager)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update a domain",
          "tags" : [ "Domains" ]
        }
      },
      "/v3/domains/{guid}/relationships/shared_organizations" : {
        "parameters" : [ {
          "description" : "Unique identifier for the domain",
          "example" : "3a5d3d89-3f89-4f05-8188-8a2b298c79d5",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "This endpoint shares an organization-scoped domain to other organizations specified by a list of organization guids. This will allow any of the other organizations to use the organization-scoped domain.\n\n__Permitted Roles:__\n* Admin\n* Org Manager",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Share a domain",
          "tags" : [ "Domains" ]
        }
      },
      "/v3/domains/{guid}/relationships/shared_organizations/{org_guid}" : {
        "delete" : {
          "description" : "This endpoint removes an organization from the list of organizations an organization-scoped domain is shared with. This prevents the organization from using the organization-scoped domain.\n\n__Permitted Roles:__\n* Admin\n* Org Manager (can be in either the domain's owning organization or the organization it has been shared to)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Unshare a domain",
          "tags" : [ "Domains" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the domain",
          "example" : "3a5d3d89-3f89-4f05-8188-8a2b298c79d5",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "org_guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/droplets" : {
        "get" : {
          "description" : "Retrieve all droplets the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List droplets",
          "tags" : [ "Droplets" ]
        },
        "post" : {
          "description" : "This endpoint is only for creating or copying a droplet without a package. To create a droplet based on a package, see Create a build.\n\n__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create/Copy a droplet",
          "tags" : [ "Droplets" ]
        }
      },
      "/v3/droplets/{guid}" : {
        "delete" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Delete a droplet",
          "tags" : [ "Droplets" ]
        },
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor (some fields are redacted)\n* Org Manager (some fields are redacted)\n* Space Auditor (some fields are redacted)\n* Space Developer\n* Space Manager (some fields are redacted)\n* Space Supporter (some fields are redacted)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a droplet",
          "tags" : [ "Droplets" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the droplet",
          "example" : "585bc3c1-3743-497d-88b0-403ad6b56d16",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Build State Updater",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write", "cloud_controller.update_build_state" ]
          } ],
          "summary" : "Update a droplet",
          "tags" : [ "Droplets" ]
        }
      },
      "/v3/droplets/{guid}/download" : {
        "get" : {
          "description" : "Download a gzip compressed tarball file containing a Cloud Foundry compatible droplet. When using a remote blobstore, such as AWS, the response is a redirect to the actual location of the bits. If the client is automatically following redirects, then the OAuth token that was used to communicate with Cloud Controller will be relayed on the new redirect request. Some blobstores may reject the request in that case. Clients may need to follow the redirect without including the OAuth token.\n\nOnly droplets that are in the STAGED state and have lifecycle type buildpack can be downloaded.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Download droplet bits",
          "tags" : [ "Droplets" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the droplet",
          "example" : "585bc3c1-3743-497d-88b0-403ad6b56d16",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/droplets/{guid}/upload" : {
        "parameters" : [ {
          "description" : "Unique identifier for the droplet",
          "example" : "585bc3c1-3743-497d-88b0-403ad6b56d16",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "Upload a gzip compressed tarball file containing a Cloud Foundry compatible droplet. The file must be sent as part of a multi-part form.\n\n__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Upload droplet bits",
          "tags" : [ "Droplets" ]
        }
      },
      "/v3/apps/{guid}/droplets" : {
        "get" : {
          "description" : "Retrieve a list of droplets belonging to an app.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List droplets for an app",
          "tags" : [ "Apps", "Droplets" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/environment_variable_groups/{name}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an environment variable group",
          "tags" : [ "Environment Variable Groups" ]
        },
        "parameters" : [ {
          "description" : "The name of the group",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "enum" : [ "running", "staging" ]
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "Update the environment variable group. The variables given in the request will be merged with the existing environment variable group. Any requested variables with a value of null will be removed from the group. Environment variable names may not start with VCAP_. PORT is not a valid environment variable.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Update environment variable group",
          "tags" : [ "Environment Variable Groups" ]
        }
      },
      "/v3/feature_flags" : {
        "get" : {
          "description" : "Retrieve all feature_flags.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List feature flags",
          "tags" : [ "Feature Flags" ]
        }
      },
      "/v3/feature_flags/{name}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a feature flag",
          "tags" : [ "Feature Flags" ]
        },
        "parameters" : [ {
          "description" : "The name of the feature flag",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/FeatureFlagName"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Update a feature flag",
          "tags" : [ "Feature Flags" ]
        }
      },
      "/v3/info" : {
        "get" : {
          "description" : "No authentication required.",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "summary" : "Get platform info",
          "tags" : [ "Info" ]
        }
      },
      "/v3/info/usage_summary" : {
        "get" : {
          "description" : "This endpoint retrieves a high-level summary of usage across the entire Cloud Foundry installation.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor" ]
          } ],
          "summary" : "Get platform usage summary",
          "tags" : [ "Info" ]
        }
      },
      "/v3/isolation_segments" : {
        "get" : {
          "description" : "Retrieves all isolation segments to which the user has access. For admin, this is all the isolation segments in the system. For anyone else, this is the isolation segments in the allowed list for any organization to which the user belongs.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List isolation segments",
          "tags" : [ "Isolation Segments" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Create an isolation segment",
          "tags" : [ "Isolation Segments" ]
        }
      },
      "/v3/isolation_segments/{guid}" : {
        "delete" : {
          "description" : "An isolation segment cannot be deleted if it is entitled to any organization.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Delete an isolation segment",
          "tags" : [ "Isolation Segments" ]
        },
        "get" : {
          "description" : "Retrieve an isolation segment to which the user has access. For admin, this is any isolation segment in the system. For anyone else, this is an isolation segment in the allowed list for any organization to which the user belongs.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an isolation segment",
          "tags" : [ "Isolation Segments" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the isolation segment",
          "example" : "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Update an isolation segment",
          "tags" : [ "Isolation Segments" ]
        }
      },
      "/v3/isolation_segments/{guid}/organizations" : {
        "get" : {
          "description" : "Retrieve the organizations entitled to the isolation segment. Return only the organizations the user has access to.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Auditor\n* Org Billing Manager\n* Org Manager",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List organizations for isolation segment",
          "tags" : [ "Isolation Segments", "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the isolation segment",
          "example" : "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/isolation_segments/{guid}/relationships/organizations" : {
        "get" : {
          "description" : "This endpoint lists the organizations entitled for the isolation segment. For an Admin, this will list all entitled organizations in the system. For any other user, this will list only the entitled organizations to which the user belongs.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List organizations relationship",
          "tags" : [ "Isolation Segments" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the isolation segment",
          "example" : "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "This endpoint entitles the specified organizations for the isolation segment. In the case where the specified isolation segment is the system-wide shared segment, and if an organization is not already entitled for any other isolation segment, then the shared isolation segment automatically gets assigned as the default for that organization.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Entitle organizations for an isolation segment",
          "tags" : [ "Isolation Segments" ]
        }
      },
      "/v3/isolation_segments/{guid}/relationships/organizations/{org_guid}" : {
        "delete" : {
          "description" : "This endpoint revokes the entitlement for the specified organization to the isolation segment. If the isolation segment is assigned to a space within an organization, the entitlement cannot be revoked. If the isolation segment is the organization’s default, the entitlement cannot be revoked.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Revoke entitlement to isolation segment for an organization",
          "tags" : [ "Isolation Segments" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the isolation segment",
          "example" : "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        }, {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "org_guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/isolation_segments/{guid}/relationships/spaces" : {
        "get" : {
          "description" : "This endpoint lists the spaces to which the isolation segment is assigned. For an Admin, this will list all associated spaces in the system. For an org manager, this will list only those associated spaces belonging to orgs for which the user is a manager. For any other user, this will list only those associated spaces to which the user has access.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List spaces relationship",
          "tags" : [ "Isolation Segments" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the isolation segment",
          "example" : "b19f6525-cbd3-4155-b156-dc0c2a431b4c",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/jobs/{guid}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a job",
          "tags" : [ "Jobs" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the job",
          "example" : "b19ae525-cbd3-4155-b156-dc0c2a431b4c",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/manifest" : {
        "get" : {
          "description" : "Generate a manifest for an app and its underlying processes.\n\n__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Generate a manifest for an app",
          "tags" : [ "Apps", "Manifests" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/spaces/{guid}/actions/apply_manifest" : {
        "parameters" : [ {
          "description" : "Unique identifier for the space",
          "example" : "885735b5-aea4-4cf5-8e44-961af0e41920",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "Apply changes specified in a manifest to the named apps and their underlying processes. The apps must reside in the space. These changes are additive and will not modify any unspecified properties or remove any existing environment variables, routes, or services.\n\n__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Apply a manifest to a space",
          "tags" : [ "Manifests", "Spaces" ]
        }
      },
      "/v3/spaces/{guid}/manifest_diff" : {
        "parameters" : [ {
          "description" : "Unique identifier for the space",
          "example" : "885735b5-aea4-4cf5-8e44-961af0e41920",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "This endpoint returns a JSON representation of the difference between the provided manifest and the current state of a space.\n\n__Permitted Roles:__\n* Admin\n* Space Developers",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create a manifest diff for a space (experimental)",
          "tags" : [ "Experimental", "Manifests", "Spaces" ]
        }
      },
      "/v3/organizations" : {
        "get" : {
          "description" : "Retrieve all organizations the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List organizations",
          "tags" : [ "Organizations" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Any with write access (if feature flag `user_org_creation` is set)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create an organization",
          "tags" : [ "Organizations" ]
        }
      },
      "/v3/organizations/{guid}" : {
        "delete" : {
          "description" : "When an organization is deleted, user roles associated with the organization will also be deleted.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Delete an organization",
          "tags" : [ "Organizations" ]
        },
        "get" : {
          "description" : "This endpoint retrieves the specified organization object.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an organization",
          "tags" : [ "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Org Manager",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update an organization",
          "tags" : [ "Organizations" ]
        }
      },
      "/v3/organizations/{guid}/domains" : {
        "get" : {
          "description" : "Retrieve all domains available in an organization for the current user. This will return unscoped domains (those without an owning organization), domains that are scoped to the given organization (owned by the given organization), and domains that have been shared with the organization.\n\nTo retrieve the default domain for an organization, use the get default domain endpoint.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List domains for an organization",
          "tags" : [ "Domains", "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/organizations/{guid}/domains/default" : {
        "get" : {
          "description" : "Retrieve the default domain for a given organization.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Auditor\n* Org Billing Manager (can only view domains without an organization relationship)\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an organizations default domain",
          "tags" : [ "Domains", "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/organizations/{guid}/relationships/default_isolation_segment" : {
        "get" : {
          "description" : "Retrieve the default isolation segment for a given organization.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an organizations default isolation segment",
          "tags" : [ "Isolation Segments", "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "Set the default isolation segment for a given organization. Only isolation segments that are entitled to the organization are eligible to be the default isolation segment.\n\n__Permitted Roles:__\n* Admin\n* Org Manager",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Assign default isolation segment to an organization",
          "tags" : [ "Isolation Segments", "Organizations" ]
        }
      },
      "/v3/organizations/{guid}/usage_summary" : {
        "get" : {
          "description" : "This endpoint retrieves the specified organization object’s memory and app instance usage summary.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get usage summary for an organization",
          "tags" : [ "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/organizations/{guid}/users" : {
        "get" : {
          "description" : "Retrieve all users with a role in the specified organization.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List users of an organization",
          "tags" : [ "Organizations" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization",
          "example" : "24637893-3b77-489d-bb79-8466f0d88b52",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/organization_quotas" : {
        "get" : {
          "description" : "This endpoint lists all organization quota resources.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager (response will only include guids of managed * organizations)\n* Org Auditor (response will only include guids of audited organizations)\n* Org Billing Manager (response will only include guids of billing-managed organizations)\n* Space Auditor (response will only include guids of parent organizations)\n* Space Developer (response will only include guids of parent organizations)\n* Space Manager (response will only include guids of parent organizations)\n* Space Supporter (response will only include guids of parent organizations)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List organization quotas",
          "tags" : [ "Organization Quotas" ]
        },
        "post" : {
          "description" : "This endpoint creates a new organization quota, but does not assign it to a specific organization unless an organization GUID is provided in the relationships.organizations parameter.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Create an organization quota",
          "tags" : [ "Organization Quotas" ]
        }
      },
      "/v3/organization_quotas/{guid}" : {
        "delete" : {
          "description" : "Organization quotas cannot be deleted when applied to any organizations.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Delete an organization quota",
          "tags" : [ "Organization Quotas" ]
        },
        "get" : {
          "description" : "This endpoint gets an individual organization quota resource.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\nOrg Manager (response will only include guids of managed organizations)\n* Org Auditor (response will only include guids of audited organizations)\n* Org Billing Manager (response will only include guids of billing-managed organizations)\n* Space Auditor (response will only include guids of parent organizations)\n* Space Developer (response will only include guids of parent organizations)\n* Space Manager (response will only include guids of parent organizations)\n* Space Supporter (response will only include guids of parent organizations)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get an organization quota",
          "tags" : [ "Organization Quotas" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the organization quota",
          "example" : "83a02ff2-f4cd-4824-8004-958f211425d0",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "This endpoint will only update the parameters specified in the request body. Any unspecified parameters will retain their existing values.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Update an organization quota",
          "tags" : [ "Organization Quotas" ]
        }
      },
      "/v3/organization_quotas/{guid}/relationships/organizations" : {
        "parameters" : [ {
          "description" : "Unique identifier for the organization quota",
          "example" : "83a02ff2-f4cd-4824-8004-958f211425d0",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "This endpoint applies an organization quota to one or more organizations.\n\n__Permitted Roles:__\n* Admin",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin" ]
          } ],
          "summary" : "Apply an organization quota to an organization",
          "tags" : [ "Organization Quotas" ]
        }
      },
      "/v3/packages" : {
        "get" : {
          "description" : "Retrieve all packages the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List packages",
          "tags" : [ "Packages" ]
        },
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Create/Copy a package",
          "tags" : [ "Packages" ]
        }
      },
      "/v3/packages/{guid}" : {
        "delete" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Delete a package",
          "tags" : [ "Packages" ]
        },
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a package",
          "tags" : [ "Packages" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the package",
          "example" : "44f7c078-0934-470f-9883-4fcddc5b8f13",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update a package",
          "tags" : [ "Packages" ]
        }
      },
      "/v3/packages/{guid}/droplets" : {
        "get" : {
          "description" : "Retrieve a list of droplets belonging to a package.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List droplets for a package",
          "tags" : [ "Droplets", "Packages" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the package",
          "example" : "44f7c078-0934-470f-9883-4fcddc5b8f13",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/packages/{guid}/upload" : {
        "parameters" : [ {
          "description" : "Unique identifier for the package",
          "example" : "44f7c078-0934-470f-9883-4fcddc5b8f13",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "This upload endpoint takes a multi-part form requests for packages of type bits. The request requires either a .zip file uploaded under the bits field or a list of resource match objects under the resources field. These field may be used together.\n\nThe resources field in the request accepts the v2 resources object format.\n\n__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.read" ]
          } ],
          "summary" : "Upload package bits",
          "tags" : [ "Packages" ]
        }
      },
      "/v3/packages/{guid}/download" : {
        "get" : {
          "description" : "This endpoint downloads the bits of an existing package.\n\nWhen using a remote blobstore, such as AWS, the response is a redirect to the actual location of the bits. If the client is automatically following redirects, then the OAuth token that was used to communicate with Cloud Controller will be replayed on the new redirect request. Some blobstores may reject the request in that case. Clients may need to follow the redirect without including the OAuth token.\n\n__Permitted Roles:__\n* Admin\n* Space Developer",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.read" ]
          } ],
          "summary" : "Download package bits",
          "tags" : [ "Packages" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the package",
          "example" : "44f7c078-0934-470f-9883-4fcddc5b8f13",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/packages" : {
        "get" : {
          "description" : "Retrieve packages for an app that the user has access to.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List packages for an app",
          "tags" : [ "Apps", "Packages" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/processes" : {
        "get" : {
          "description" : "Retrieve all processes the user has access to.\n\n__Permitted Roles:__\n* All Roles",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List processes",
          "tags" : [ "Processes" ]
        }
      },
      "/v3/processes/{guid}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor (some fields are redacted)\n* Org Manager (some fields are redacted)\n* Space Auditor (some fields are redacted)\n* Space Developer\n* Space Manager (some fields are redacted)\n* Space Supporter (some fields are redacted)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a process",
          "tags" : [ "Processes" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the process",
          "example" : "6a901b7c-9417-4dc1-8189-d3234aa0ab82",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "patch" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Update a process",
          "tags" : [ "Processes" ]
        }
      },
      "/v3/processes/{guid}/actions/scale" : {
        "parameters" : [ {
          "description" : "Unique identifier for the process",
          "example" : "6a901b7c-9417-4dc1-8189-d3234aa0ab82",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Scale a process",
          "tags" : [ "Processes" ]
        }
      },
      "/v3/processes/{guid}/instances/{index}" : {
        "delete" : {
          "description" : "Terminate an instance of a specific process. Health management will eventually restart the instance.\n\nThis allows a user to stop a single misbehaving instance of a process.\n\n__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.write" ]
          } ],
          "summary" : "Terminate a process instance",
          "tags" : [ "Processes" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the process",
          "example" : "6a901b7c-9417-4dc1-8189-d3234aa0ab82",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        }, {
          "description" : "The zero-based index of a running instance",
          "example" : 0,
          "explode" : false,
          "in" : "path",
          "name" : "index",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        } ]
      },
      "/v3/processes/{guid}/stats" : {
        "get" : {
          "description" : "Process stats are objects that represent the individual instances of a process.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor (some fields are redacted)\n* Org Manager (some fields are redacted)\n* Space Auditor (some fields are redacted)\n* Space Developer\n* Space Manager (some fields are redacted)\n* Space Supporter (some fields are redacted)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get stats for a process",
          "tags" : [ "Processes" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the process",
          "example" : "6a901b7c-9417-4dc1-8189-d3234aa0ab82",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/processes" : {
        "get" : {
          "description" : "Retrieves all processes belonging to an app.\n\n__Permitted Roles:__\n* Admin\n* Global Auditor\n* Org Manager\n* Space Auditor\n* Space Developer\n* Space Manager\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "List processes for app",
          "tags" : [ "Apps", "Processes" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/processes/{type}" : {
        "get" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Global Auditor (some fields are redacted)\n* Org Manager (some fields are redacted)\n* Space Auditor (some fields are redacted)\n* Space Developer\n* Space Manager (some fields are redacted)\n* Space Supporter (some fields are redacted)",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
            "uaa" : [ "cloud_controller.admin", "cloud_controller.admin_read_only", "cloud_controller.global_auditor", "cloud_controller.read" ]
          } ],
          "summary" : "Get a process of an app",
          "tags" : [ "Apps", "Processes" ]
        },
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        }, {
          "description" : "Process type; a unique identifier for processes belonging to an app",
          "example" : "web",
          "explode" : false,
          "in" : "path",
          "name" : "type",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        } ]
      },
      "/v3/apps/{guid}/processes/{type}/actions/scale" : {
        "parameters" : [ {
          "description" : "Unique identifier for the app",
          "example" : "1cb006ee-fb05-47e1-b541-c34179ddc446",
          "explode" : false,
          "in" : "path",
          "name" : "guid",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/UUID"
          },
          "style" : "simple"
        }, {
          "description" : "Process type; a unique identifier for processes belonging to an app",
          "example" : "web",
          "explode" : false,
          "in" : "path",
          "name" : "type",
          "required" : true,
          "schema" : { },
          "style" : "simple"
        } ],
        "post" : {
          "description" : "__Permitted Roles:__\n* Admin\n* Space Developer\n* Space Supporter",
          "responses" : {
            "204" : {
              "description" : "No Content"
            }
          },
          "security" : [ {
[...]
